:root {
  --color-black: #000000;
  --text-3xl: 1.875rem;
  --text-gray-500: #6b7280;
  --text-gray-300: #d1d5db;
  --text-gray-100: #f3f4f6;
  --color-gray-700: #374151;
  --color-gray-900: #111827;
  --color-gray-300: #d1d5db;
}

.simpleButton {
  cursor: pointer;
  background-color: black;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  & svg {
    font-size: var(--text-3xl);
    color: var(--text-gray-300);
  }
  &:hover {
    background-color: rgba($color: #ffffff, $alpha: 0.1);
    & svg {
      color: var(--text-gray-100);
    }
  }
}
